{% extends "base.html" %}
   
{% block title %}Python Django Ajax FullCalender CRUD (Create, Read, Update and Delete){% endblock title %}
   
{% block content %}
<div class="col-md-12">
    <h4 class="display-5 fw-bold lh-1 mb-3">TutorMe Schedule Builder</h4>
    <h2 class="account-heading">{{ user.username }}</h2> 
    <div id="calendar"></div> 
</div> 
{% endblock content %} 

{% block script %}
<script>
    function addClass() {
      console.log("hello");
    }
  </script>
  
  <script>
     $(document).ready(function () {
         var calendar = $('#calendar').fullCalendar({
             header: {
                 left: 'prev,next today',
                 center: 'title',
                 right: 'agendaWeek,agendaDay, month',
             },
            //  events: 'all_events',
             events: '{{tutor_id}}/all_events',
             defaultView: 'agendaWeek',
         selectable: true,
             selectHelper: true,
             editable: true,
             eventLimit: true,
             select: function (start, end, allDay) {
                 var title = prompt("Add your Timeslot: ");
                 //STAT 2020
                 if (title) {
                     // var clist = title.split(" ");
                     // let url = 'https://sisuva.admin.virginia.edu/psc/ihprd/UVSS/SA/s/WEBLIB_HCX_CM.H_CLASS_SEARCH.FieldFormula.IScript_ClassSearch?institution=UVA01&term=1238&page=1'
                     // window.location.href = (url + '&subject=' + clist[0] + '&catalog_nbr=' + clist[1]);
                     var start = $.fullCalendar.formatDate(start, "Y-MM-DD HH:mm:ss");
                     var end = $.fullCalendar.formatDate(end, "Y-MM-DD HH:mm:ss");
                     $.ajax({
                         type: "GET",
                         url: 'add_event',
                         data: {'title': title, 'start': start, 'end': end},
                         dataType: "json",
                         success: function (data) {
                             calendar.fullCalendar('refetchEvents');
                             alert("Added Successfully");
                         },
                         error: function (data) {
                             alert('There is a problem!!!');
                         }
                     });
                 }
             },
             eventResize: function (event) {
                 var start = $.fullCalendar.formatDate(event.start, "Y-MM-DD HH:mm:ss");
                 var end = $.fullCalendar.formatDate(event.end, "Y-MM-DD HH:mm:ss");
                 var title = event.title;
                 var id = event.id;
                 $.ajax({
                     type: "GET",
                     url: 'update',
                     data: {'title': title, 'start': start, 'end': end, 'id': id},
                     dataType: "json",
                     success: function (data) {
                         calendar.fullCalendar('refetchEvents');
                         alert('Event Update');
                     },
                     error: function (data) {
                         alert('There is a problem!!!');
                     }
                 });
             },
   
             eventDrop: function (event) {
                 var start = $.fullCalendar.formatDate(event.start, "Y-MM-DD HH:mm:ss");
                 var end = $.fullCalendar.formatDate(event.end, "Y-MM-DD HH:mm:ss");
                 var title = event.title;
                 var id = event.id;
                 $.ajax({
                     type: "GET",
                     url: 'update',
                     data: {'title': title, 'start': start, 'end': end, 'id': id},
                     dataType: "json",
                     success: function (data) {
                         calendar.fullCalendar('refetchEvents');
                         alert('Event Update');
                     },
                     error: function (data) {
                         alert('There is a problem!!!');
                     }
                 });
             },
   
             eventClick: function (event) {
                 if (confirm("Are you sure you want to remove it?")) {
                     var id = event.id;
                     $.ajax({
                         type: "GET",
                         url: 'remove',
                         data: {'id': id},
                         dataType: "json",
                         success: function (data) {
                             calendar.fullCalendar('refetchEvents');
                             alert('Event Removed');
                         },
                         error: function (data) {
                             alert('There is a problem!!!');
                         }
                     });
                 }
             },
   
         });
     });
  </script>
{% endblock script %}