<!-- templates/requestsPage.html -->
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student - Requests</title>
  </head>

  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="home" viewBox="0 0 16 16">
        <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
      </symbol>
      <symbol id="speedometer2" viewBox="0 0 16 16">
        <path d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z"/>
        <path fill-rule="evenodd" d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z"/>
      </symbol>
      <symbol id="table" viewBox="0 0 16 16">
        <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"/>
      </symbol>
      <symbol id="people-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
      </symbol>
      <symbol id="search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </symbol>
  </svg>

  <body style="background: linear-gradient(to right, rgba(230,233,240,0.5), rgba(238,241,245,0.5))">
    <section class="main">
      <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start my-auto px-3 pt-2 text-white min-vh-100">
                    <a href="/" class="d-flex align-items-center py-8 text-start text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline" style="padding-top: 1rem;">TutorMe (Student)</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-10 align-items-center align-items-sm-start justify-content-between" id="menu">
                        <li class="nav-item p-6" style="padding-top: 2rem;">
                          <a href="/tutorme/index" class="nav-link text-white">
                            <svg class="bi me-2" width="30" height="30" fill="white"><use xlink:href="#home"></use></svg>
                            Index
                          </a>
                        </li>
                        {% if user.is_student %}
                        <li style="padding-top: 2rem;">
                          <a href="/tutorme/search" class="nav-link text-white">
                            <svg class="bi me-2" width="30" height="30" fill="white"><use xlink:href="#search"></use></svg>
                            Find a Tutor
                          </a>
                        </li>
                        {% endif %}
                        {% if user.is_tutor %}
                        <li style="padding-top: 2rem;">
                            <a href="/tutorme/addClasses/" class="nav-link text-white">
                              <svg class="bi me-2" width="30" height="30" fill="white"><use xlink:href="#speedometer2"></use></svg>
                              Add Your Classes
                            </a>
                        </li>
                        
                        
                        <li style="padding-top: 2rem;">
                          <a href="/schedule/{{user.id}}" class="nav-link text-white">
                            <svg class="bi me-2" width="30" height="30" fill="white"><use xlink:href="#table"></use></svg>
                            Schedule
                          </a>
                        </li>
                        {% endif %}
                        <li style="padding-top: 2rem;">
                          <a href="/tutorme/student/schedule/requests" class="nav-link active" aria-current="page">
                            <svg class="bi me-2" width="30" height="30" fill="white"><use xlink:href="#table"></use></svg>
                            Requests
                          </a>
                        </li>
                        <li style="padding-top: 2rem;">
                          <a href="{% url 'tutorme:profile' user.username %}" class="nav-link text-white">
                            <svg class="bi me-2" width="30" height="30" fill="white"><use xlink:href="#people-circle"></use></svg>
                            Profile
                          </a>
                        </li>
                    </ul>
                    <hr>
                    <div class="dropdown pb-4">
                      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                          <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="hugenerd" width="30" height="30" class="rounded-circle">
                          <span class="d-none d-sm-inline mx-1">{{user}}</span>
                      </a>
                      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                          
                          <li><a class="dropdown-item" href="{% url 'tutorme:profile' user.username %}">Profile</a></li>
                          <li>
                              <hr class="dropdown-divider">
                          </li>
                          <li><a class="dropdown-item" href="{% url 'schedule_builder:logout' %}">Sign out</a></li>
                      </ul>
                    </div>
                </div>
            </div>

            <div class="col py-3">
                <label for="course">All requested tutoring sessions:</label>

              {% if all_reqs %}
                  <ul>
                      {% for req in all_reqs %}
                          <!-- <li> -->
                                <div class="container">
                                <div class="row justify-content-center">
                                  <div class="col-md-6">
                                    <div class="card">
                                      <div class="card-body">
                                        <div class="row">
                                          <!-- <div class="col-md-6"> -->
                                            <h5 class="card-title">{{ req.event_title }}</h5>
                                          <!-- </div> -->
                                          <div class="col-md-6">
                                            <h5 class="card-title text-muted mb-0">Tutor:</h5>
                                            <p class="card-text mb-3"> {{ req.tutor_id}}</p>
                                          </div>
                                          <div class="col-md-6">
                                            <h5 class="card-title text-muted mb-0">Student:</h5>
                                            <p class="card-text mb-3">{{ req.student_id }}</p>
                                          </div>
                                          <div class="col-md-6">
                                            <h5 class="card-title text-muted mb-0">Start time:</h5>
                                            <p class="card-text mb-3">{{ req.start_time }}</p>
                                          </div>
                                          <div class="col-md-6">
                                            <h5 class="card-title text-muted mb-0">End time:</h5>
                                            <p class="card-text mb-3">{{ req.end_time }}</p>
                                          </div>
                                        </div>
                                        {% if user.is_tutor %}
                                        <div class="row justify-content">
                                          <!-- <div class="col-md-3"> -->
                                            <!-- <a href="/tutorme/student/{{ tutor.username }}" class="btn btn-primary">Accept tutoring session</a> -->
                                            <!-- <a class="btn btn-primary" onclick="req.accepted = True">Accept tutoring session</a> -->
                                            <!-- <button onclick="change()">Accept tutoring session </button> -->
                                            <!-- <input type="button" value = "Accepting request for tutoring session" onclick="clicked(event)" /> -->

                                            <button class="btn btn-info btn-block" type="submit" onclick="acceptReq({{ req }});">Accept request for tutoring session</button>
                                            <!-- <script type="text/javascript">
                                              function clicked()
                                              {
                                                  if(confirm('Accept the incoming request?')) {
                                                    document.getElementById("demo").innerHTML = "You accepted the request!";
                                                      // return True;
                                                  }
                                              }
                                              </script>                                               -->
                                              <script>
                                                function acceptReq(r)
                                                {
                                                    $.ajax({
                                                        url: "/accept_req/",
                                                        type: "POST",
                                                        data: {'value':r},
                                                        success: function(response) {
                                                          alert('Request accepted!');
                                                        },
                                            
                                                    });
                                                }
                                            </script>
                                          <!-- </div> -->
                                          
                                        </div>
                                        {% endif %}
                                        {% if user.is_student and req.is_accepted%}
                                          <div class="row justify-content">
                                              <p class="card-text mb-3 text-muted mb-0">>Tutoring session accepted by tutor!</p>
                                          </div>
                                        {% endif %}
                                        {% if user.is_student and not req.is_accepted%}
                                          <div class="row justify-content">
                                              <p class="card-text mb-3 text-muted mb-0">Tutoring session not yet accepted by tutor</p>
                                          </div>
                                        {% endif %}
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>

                          <!-- </li> -->
                      {% endfor %}
                  </ul>
              {% else %}
                  <p>No tutoring session requests found.</p>
              {% endif %}
        </div>

    </div>
    </section>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>

</html>

